/* Styles/Android.css */

/* General body styling */
body {
    /*background-image: url('Images/background.jpg') !important;*/
    background-size: 150% auto;
}

/* Header styling */
header h1 {
    padding: 0;
    text-align: center;
    margin-top: 10px;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

/* Main content styling */
main h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    width: 100%;
    text-align: center;
}

main h3 span {
    color: red;
}

.test {
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    animation: typing 10s;
    text-align: center;
}

@keyframes typing {
    from { width: 0% }
    to { width: 100% }
}

.typed{
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  /*border-right: .15em solid orange;*/
  animation: typing 10s;
  text-align: center;
}

/* Container styling */
.container {
    text-align: center;
    margin-top: 360px;
}

/* Button styling */
.btn {
    border: 1px solid #3498db;
    color: white;
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    font-family: "Montserrat";
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
}

.btn1 {
    bottom: 200px;
    left: 17%;
}

.btn2 {
    bottom: 0px;
    left: -20%;
}

.btn3 {
    bottom: -200px;
    left: 20%;
}

.btn4 {
    bottom: -400px;
    left: -20%;
}

.btn2:hover, .btn4:hover {
    color: red;
    box-shadow: 5px 10px 7px 5px blue;
}

.btn1:hover, .btn3:hover {
    color: blue;
    box-shadow: 5px 10px 7px 5px red;
}

.btn::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #3BC00E;
    z-index: -1;
    transition: 0.8s;
}

.btn1::before, .btn3::before {
    top: 0;
    border-radius: 0 0 50% 50%;
}

.btn2::before, .btn4::before {
    bottom: 0;
    border-radius: 50% 50% 0 0;
}

.btn1:hover::before, .btn2:hover::before {
    height: 180%;
}

.btn3:hover::before, .btn4:hover::before {
    height: 180%;
}
