/* Styles/Desktop.css */

/* General body styling */
body {
    /*background-image: url('Images/background-desktop.jpg') !important;*/
    background-size: cover;
}

/* Header styling */
header h1 {
    padding: 0;
    text-align: left;
    margin-top: 20px;
    font-family: "Arial", sans-serif;
    font-size: 24px;
    width: 100%;
}

/* Main content styling */

main h3 {
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 22px;
    width: 100%;
    text-align: left;
    margin-left: 20px;
}

main h3 span {
    color: red;
}

@keyframes typing {
    from { width: 0% }
    to { width: 100% }
}

.typed{
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  /*border-right: .15em solid orange;*/
  animation: typing 10s;
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 360px;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
}

btn1{
  bottom: 50px;
  left: 20%;
}

.btn2{
  bottom: -50px;
  left: 9%;
}

.btn3{
  bottom: -150px;
  left: -2%;
}

.btn4{
  bottom: -250px;
  left: -14%;
}